html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/**************************************************************************************************************/
/***********************Хедер*********************************************/
.photo_header{
    width: 100%;
    background-image: url("../images/gallery/header_photo.jpg");
    background-size:cover;
    background-position:center;
}
.art_header{
    width: 100%;
    background-image: url("../images/gallery/header_art.jpg");
    background-size:cover;
    background-position:center;
}
a{
    text-decoration: none;
    color: #f7f7f7;
    -webkit-transition:  ease 0.5s;
    -moz-transition:  ease 0.5s;
    -ms-transition:  ease 0.5s;
    -o-transition:  ease 0.5s;
    transition:  ease 0.5s;
}
h1>a:hover{
    color: #aaa !important;
    -webkit-transition:  ease 0.5s;
    -moz-transition:  ease 0.5s;
    -ms-transition:  ease 0.5s;
    -o-transition:  ease 0.5s;
    transition:  ease 0.5s;
    text-decoration: none !important;
}
h4{
    text-align: center;
    margin: 3em 0;
}
.topnavmenu{
    margin-left:70%;
    float: left;

}
ul.topnav{
    padding-top: 10px;
    color:#761c19;
    list-style-type:none;
    position: relative;
}
/*ul.topnav>li.menu{
    display: inline ;
}*/
ul.topnav>li{
    display: inline-block;
    margin-right:40px;
}
ul.topnav>li>a,ul.submenu>li>a{
    text-decoration: none;
    font-family: 'Marck Script', cursive;
    color: #f7f7f7;
    -webkit-transition:  ease-in-out 0.5s;
    -moz-transition:  ease-in-out 0.5s;
    -ms-transition:  ease-in-out 0.5s;
    -o-transition:  ease-in-out 0.5s;
    transition:  ease-in-out 0.5s;
}
ul.topnav>li>a:hover{
    color: #478575;
    text-shadow: 1px 0 1px #000;
    -webkit-transition:  ease-in-out 0.5s;
    -moz-transition:  ease-in-out 0.5s;
    -ms-transition:  ease-in-out 0.5s;
    -o-transition:  ease-in-out 0.5s;
    transition:  ease-in-out 0.5s;
}
.welcome{
    margin-top: 5%;
    padding-bottom: 5%;
    text-align: center;
}
.welcome>h1{
    color: #f7f7f7;
    font-weight:bolder;
}
.wrap{
    /*font-family: 'Marck Script', cursive;
    width: 555px;
    margin: 20px auto;
    background: #f0f0f0;
    padding: 20px 10px 20px 20px;
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, .3);
    -moz-box-shadow: 0 0 5px rgba(0, 0, 0, .3);
    box-shadow: 0 0 5px rgba(0, 0, 0, .3);
    overflow: hidden;*/
    font-family: 'Marck Script', cursive;
    width: 70%;
    margin: 5em auto;
    background: rgba(27,109,133,0.4);
    padding: 20px 10px 20px 20px;
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, .3);
    -moz-box-shadow: 0 0 5px rgba(0, 0, 0, .3);
    box-shadow: 0 0 5px rgba(0, 0, 0, .3);
    overflow: hidden;

}
h1{
    font-size: 2em;
    text-align: center;
    margin-bottom: 1em;
}
.item{
    /*background: #ffffff;
    width: 170px;
    height: 150px;
    float: left;
    text-align: center;
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, .3);
    -moz-box-shadow: 0 0 5px rgba(0, 0, 0, .3);
    box-shadow: 0 0 5px rgba(0, 0, 0, .5);
    margin: 0 15px 15px 0;*/
    background: #ffffff;
    width: 30%;
    height: 20em;
    float: left;
    text-align: center;
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, .3);
    -moz-box-shadow: 0 0 5px rgba(0, 0, 0, .3);
    box-shadow: 0 0 5px rgba(0, 0, 0, .5);
    margin: 0 30px 25px 14px;
}
.item > div{
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    cursor: pointer;
}
.front{
    -webkit-transition: all  .5s;
    -moz-transition: all  .5s;
    -ms-transition: all  .5s;
    -o-transition: all  .5s;
    transition: all  .5s;
    position: absolute;
    /*-webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;*/
}
.front:hover{
    -webkit-box-shadow: 0 0 10px #000;
    -moz-box-shadow: 0 0 10px #000;
    box-shadow: 0 0 10px #000;
}
.back{
    display:inline-block;
    width: 280px;
    height: 180px;
    -webkit-transform: rotateX(180deg);
    -moz-transform: rotateX(180deg);
    -ms-transform: rotateX(180deg);
    -o-transform: rotateX(180deg);
    transform: rotateX(180deg);
    /*-webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;*/
    opacity: 0;

    background: #ccc;
    color: #000000;
    -webkit-transition: all  .5s;
    -moz-transition: all  .5s;
    -ms-transition: all  .5s;
    -o-transition: all  .5s;
    transition: all  .5s;
    padding: 10px;
    text-align: left;
}
.item > div:hover .front{
    -webkit-transform: rotateX(180deg);
    -moz-transform: rotateX(180deg);
    -ms-transform: rotateX(180deg);
    -o-transform: rotateX(180deg);
    transform: rotateX(180deg);
}
.item > div:hover .back{
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    -ms-transform: rotateX(0deg);
    -o-transform: rotateX(0deg);
    transform: rotateX(0deg);
    opacity: 1;
}

.clear{
    clear: both;
}
/*пагинация*/

.pagination{
    margin: 20px;
    text-align: center;
}
.pagination>li{
    list-style-type: none;
    display: inline-block;
}

.pagination a{
    border: 1px solid #ddd;
    padding: 6px 12px;
    text-decoration: none;
    background: #fff;
    color: #428bca;
}

.pagination a:nth-child(even){
    border-left: none;
    border-right: none;
}

.pagination a:first-child{
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.pagination a:last-child{
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-right: 1px solid #ddd;
}

.pagination a:hover{
    background: #eee;
}
.pagination > li.active-page{
    background: #428bca;
    color: #fff;
    border-color: #428bca;
    padding: 6px 12px;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
}

